.nav {
    display: flex;
}

.nav a {
    text-decoration: none;
    margin-left: 3%;
}

.SearchFunction {
    margin-left: 15%;
}


header .logo {
    font-weight: 600;
    font-size: 35px;
    cursor: pointer;
    color: #414c4b;
}

header ul.nav {
    align-items: center;
    margin-left: 38%;
}

header ul.nav li {
    display: inline;
    margin-left: 25px;
    cursor: pointer;
    transition: 500ms ease;
}

header ul.nav li:hover {
    opacity: 0.5;
}

header .presentation {
    margin: 100px 0;
    background: url(../../../../public/bookswhite.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 400px;
    position: absolute;
}

header .presentation::after {
    content: 'Лучшие книги для Вас';
    position: absolute;
    top: 0px;
    left: 50px;
    width: 309px;
    font-size: 40px;
    font-weight: 600;
    color: #009688;
    ;
}

header .presentation::before {
    content: 'по низким ценам';
    position: absolute;
    top: 115px;
    left: 50px;
    width: 300px;
    font-size: 15px;
    font-weight: 300;
    color: #009688;
    ;
}

hr {
    margin-top: 50px;
    margin-bottom: 50px;
}


@media (max-width: 768px) {
    header ul.nav {
        display: none;
    }

    /* .SearchFunction {
        margin-right: 54%;
    } */

    /* .search {
        margin-left: 140%;
    }  */
}