.Registration.open{
    display: block;
    width: 590px;
    height: 480px;
    margin-left: 26%;
}

.RegistrationSignUp {
    display: block;
    width: 590px;
    height: 480px;
    margin-left: 26%;
}

.tabs {
    display: flex;
    justify-content: space-around;
}
.tab{
    height: 40px;
    font-weight: bold;
}
.tab:hover {
    cursor: pointer;
    color: blue;
    border-bottom: 4px solid black;

}

.wrapperTabs{
    padding-top: 20px;
}

.RegistrationSignUp.close{
    display: none;
}

.Registration{
    display: none;
}

.forms {
    width: 480px;
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;
}

.Buttns {
    border-radius: 10px;

    background: #f7f4f4;
    padding: 19px;
}

.formLogin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.formPassword, .name, .confirmPassword {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.email {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.btnSignIn, .btnSignUp {
    padding: 10px;
    border-radius: 10px;
    background: #2d2b2b;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 507px;
    margin-bottom: 20px;
}